*{
    padding: 0;
    list-style: none;
    font-family: "微软雅黑";
}
.d1{background-color: #f4f4f3;
    margin-top:35px;
    height:38px;
    position:relative;
    font-size: 25px;
    text-align:center;
    color: blue;
}
.left{position: relative;
    float:left;
    background:#efefef;
    width:12%;
    height:750px;
    font-size: 25px;
    color: #3138d5;
    text-align: center;
}
.right{float:right;
    background:#efefef;
    width:12%;
    height:750px;
    font-size: 25px;
    text-align: center;}

.center{
    position: relative;
    margin-left:245px;
    margin-top: -25px;
    background-color: #fdfdfe;
    width:74%;
    height:750px;
    font-size:25px;
    text-align: left;
}

.d2{background-color: #b4b4b4;
    position: absolute;
    height:15%;
    width: 100%;
    font-size: 25px;
    text-align:center;}


